@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to coffee shop</h1>

<head>
    <meta charset="utf-8">
    <title>Bootstrap Part11</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" type="text/css" href="Content/bootstrap.min.css">
    <link href="Content/bootstrap.css" rel="stylesheet" />
    <style>
        footer {
            height: 50px;
            background-color:grey;
            width: 100%;
        }

        .img-responsive {
            height: 500px;
            width: 100%;
        }

        #coffeebox {
            justify-content: space-between;
        }

        img {
            width: 110px;
            height: 160px;
        }
    </style>
</head>
<body>
    <div>
        
        <div class="container d-flex flex-wrap my-3" id="coffeebox">
            <div class="card" style="width: 18rem;">
                <img src="~/image/1.jpg" class="card-img-top" alt="">
                <div class="card-body">
                   
                    <p class="card-text">Espresso</p>
                   
                </div>
            </div>

            <div class="card" style="width: 18rem;">
                <img src="~/image/2.jpeg" class="card-img-top" alt="...">
                <div class="card-body">
                    
                    <p class="card-text">Classic Filter Coffee</p>
                    
                    
                </div>
            </div>

            <div class="card" style="width: 18rem;">
                <img src="~/image/3.jpeg" class="card-img-top" alt="...">
                <div class="card-body">
                    
                    <p class="card-text"> Macchiato</p>
                   
                </div>
            </div>

            <div class="card" style="width: 18rem;">
                <img src="~/image/4.jpeg" class="card-img-top" alt="...">
                <div class="card-body">
                
                    <p class="card-text">Cafe Mocha</p>
                    
                </div>
            </div>

            <div class="card" style="width: 18rem;">
                <img src="~/image/5.jpeg" class="card-img-top" alt="...">
                <div class="card-body">
                   
                    <p class="card-text">Cafe Americano</p>
                    
                </div>
            </div>

            <div class="card" style="width: 18rem;">
                <img src="~/image/6.jpeg" class="card-img-top" alt="...">
                <div class="card-body">
                    
                    <p class="card-text">Dark Frappe</p>
                   
                </div>
            </div>

            <div class="card" style="width: 18rem;">
                <img src="~/image/7.jpeg" class="card-img-top" alt="...">
                <div class="card-body">
                    
                    <p class="card-text">Cafe Mocha</p>
                   
                </div>
            </div>

            <div class="card" style="width: 18rem;">
                <img src="~/image/8.jpeg" class="card-img-top" alt="...">
                <div class="card-body">
                   
                    <p class="card-text">Aztec Coffee</p>
                   
                </div>
            </div>

            <div class="card" style="width: 18rem;">
                <img src="~/image/9.jpeg" class="card-img-top" alt="...">
                <div class="card-body">
                    
                    <p class="card-text">Ethiopian Coffee</p>
                    
                </div>
            </div>
        </div>


        </div>
</body>